In [1]:
try1=open("FileHandlingTrial.dat","w")

In [2]:
try1.write("12345\n")
try1.write("345345")
try1.write("12345\n")

6

In [3]:
try1.close()
try1=open("FileHandlingTrial.dat","r")
print try1.read()
try1.close()

SyntaxError: invalid syntax (<ipython-input-3-5cf5eb3bebeb>, line 3)

In [4]:
f = open('workfile', 'w')

In [5]:
f.write('This is a test\n')

15

In [6]:
f.read()

UnsupportedOperation: not readable

In [7]:
f = open('workfile', 'r')
f.read()
f.close()

In [8]:
f = open('workfile', 'w')
f.write('This is a test\n')
f.close()

In [9]:
f = open('workfile', 'r')
f.read()
f.close()

In [10]:
print (try1.read())

UnsupportedOperation: not readable

In [11]:
try1=open("FileHandlingTrial.dat","r")
print (try1.read())
try1.close()

12345
34534512345

In [12]:
try1=open("FileHandlingTrial.dat","r")
a=try1.readline()
b=try1.readline()
print(a)
print(b)
print (a+b)
try1.close()

12345

34534512345

12345
34534512345

In [13]:
try1=open("FileHandlingTrial.dat","r")
a=try1.readline()
b=try1.readline()
try1.close()

In [14]:
try1=open("FileHandlingTrial.dat","r")
a=try1.readline()
b=try1.readline()
print(a)
print(b)
try1.close()

12345

34534512345

In [15]:
try1=open("FileHandlingTrial.dat","r")
a=list(try1)
print(a)
try1.close()

['12345\n', '34534512345\n']

In [16]:
try2=open("FTrial.dat","b")
try2.write("12345")
try2.write("345345")
try2.write("1234")
a=list(try2)
print(a)
try2.close()

ValueError: Must have exactly one of create/read/write/append mode and at most one plus

In [17]:
try2=open("FTrial.dat","w+b")
try2.write("12345")
try2.write("345345")
try2.write("1234")
try2.close()
try3=open("FTrial.dat","r+b")
a=list(try3)
print(a)
try3.close()

TypeError: a bytes-like object is required, not 'str'

In [19]:
try1=open("FileHandlingTrial.dat","r")
a=try1.readline()
b=try1.readline()
print(a)
print(b)
print (a+b)
print(int(a))
print(int(b))
print (int(a)+int(b))
try1.close()

12345

34534512345

12345
34534512345

12345
34534512345
34534524690

In [20]:
try1=open("FileHandlingTrial.dat","r")
a=try1.readline()
b=try1.readline()
print(a)
print(b)
print (a+b)
print(int(a))
print(int(b))
print (int(a)/int(b))
try1.close()

12345

34534512345

12345
34534512345

12345
34534512345
3.5746849055441616e-07

In [21]:
import pandas as pd

In [22]:
import pandas as pd
df1 = pd.read_csv("https://pythonhow.com/data/income_data.csv")
print(df1)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  47215  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [23]:
#comment#

In [24]:
# Comment

In [2]:
import pandas as pd
df=pd.read_csv ('https://drive.google.com/open?id=1YZvhR_D-yqsUBT7iU8dqfByRHX6ZE0mgB3-mbdiH3JY')
df.head()
df.tail()

ParserError: Error tokenizing data. C error: Expected 5 fields in line 11, saw 562

In [3]:
import pandas as pd
df=pd.read_csv ('fortune500.csv')
df.head()
df.tail()

,Year,Rank,Company,Revenue (in millions),Profit (in millions)
25495,2005,496,Wm. Wrigley Jr.,3648.6,493
25496,2005,497,Peabody Energy,3631.6,175.4
25497,2005,498,Wendy's International,3630.4,57.8
25498,2005,499,Kindred Healthcare,3616.6,70.6
25499,2005,500,Cincinnati Financial,3614.0,584

In [4]:
import pandas as pd
df=pd.read_csv ('fortune500.csv')
df.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

In [5]:
import pandas as pd
df=pd.read_csv ('fortune500.csv')
df.dtypes()

TypeError: 'Series' object is not callable

In [6]:
import pandas as pd
df=pd.read_csv ('fortune500.csv')
len(df)

25500

In [7]:
import pandas as pd
#excel_file = 'movies.xls'
movies =pd.read_excel('movies.xls')
movies.head()

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
0,Intolerance: Love's Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9.0,481,691,1,10718,88,69.0,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0.0,4,0,1,5,1,1.0,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6.0,108,226,0,4849,45,48.0,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18.0,203,12000,1,111841,413,260.0,8.3
4,Pandora's Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3.0,455,926,1,7431,84,71.0,8.0

In [8]:
import pandas as pd
#excel_file = 'movies.xls'
movies =pd.read_excel('movies.xls')
movies.describe()

,Year,Duration,Aspect Ratio,Budget,Gross Earnings,Facebook Likes - Director,Facebook Likes - Actor 1,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score
count,1338.000000,1338.000000,1308.000000,1.281000e+03,1.086000e+03,1338.000000,1338.000000,1338.000000,1336.000000,1338.000000,1338.000000,1338.000000,1.338000e+03,1338.000000,1335.000000,1338.000000
mean,1987.289985,113.071001,1.987752,2.712064e+07,4.752741e+07,1026.567265,5255.186846,1227.041106,456.738772,7673.354260,2656.870703,1.167414,8.538817e+04,255.183857,85.108614,6.702167
std,14.124870,27.434048,0.310047,8.466937e+07,6.113161e+07,3446.329257,8652.096738,2891.932284,880.031542,11055.985788,7446.142461,1.608806,1.560198e+05,343.287920,62.040982,1.066497
min,1916.000000,25.000000,1.180000,7.000000e+03,5.494000e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000e+00,1.000000,1.000000,2.300000
25%,1982.000000,96.000000,1.850000,4.000000e+06,8.182800e+06,6.000000,605.000000,273.000000,136.000000,1412.000000,0.000000,0.000000,9.905500e+03,77.250000,39.000000,6.100000
50%,1993.000000,107.000000,1.850000,1.400000e+07,2.724075e+07,56.500000,925.500000,559.000000,324.000000,2660.000000,17.500000,1.000000,3.370500e+04,159.000000,71.000000,6.800000
75%,1997.000000,123.000000,2.350000,3.300000e+07,6.358500e+07,272.000000,10000.000000,849.000000,586.500000,11937.750000,812.000000,2.000000,9.031425e+04,306.750000,118.000000,7.400000
max,1999.000000,330.000000,2.760000,2.400000e+09,6.586723e+08,21000.000000,49000.000000,29000.000000,13000.000000,74382.000000,108000.000000,15.000000,1.689764e+06,4144.000000,392.000000,9.300000

In [9]:
import pandas as pd
df1 = pd.read_csv ("income_data.csv")
print (df1)

       GEOID       State   2005   2006   2007   2008   2009   2010   2011  \
0  04000US01     Alabama  37150  37952  42212  44476  39980  40933  42590
1  04000US02      Alaska  55891  56418  62993  63989  61604  57848  57431
2  04000US04     Arizona  45245  46657  47215  46914  45739  46896  48621
3  04000US05    Arkansas  36658  37057  40795  39586  36538  38587  41302
4  04000US06  California  51755  55319  55734  57014  56134  54283  53367

    2012   2013
0  43464  41381
1  63648  61137
2  47044  50602
3  39018  39919
4  57020  57528

In [10]:
import pandas as pd
df1 = pd.read_csv ("income_data.csv")
df1.mean()

2005    45339.8
2006    46680.6
2007    49789.8
2008    50395.8
2009    47999.0
2010    47709.4
2011    48662.2
2012    50038.8
2013    50113.4
dtype: float64